<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .gradient-button {
          background-image: linear-gradient(to right, #3b82f6, #0d9488);
        }
        .gradient-button:hover {
          background-image: linear-gradient(to right, #2563eb, #059669);
        }
      </style>
</head>
<body>
   <!-- Header -->
<div class=" bg-gray-100 min-w-screen">
    <!-- Header Logo Center -->
    <header class="w-full text-gray-700 bg-white border-t border-gray-100 shadow-sm body-font">
        <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">

            <nav class="flex flex-wrap items-center text-base lg:w-2/5 md:ml-auto">
                <a href="" class="mr-5 font-medium hover:text-gray-900">Home</a>
                <a href="" class="mr-5 font-medium hover:text-gray-900">About</a>
                <a href="" class="font-medium hover:text-gray-900">Contact</a>
            </nav>
            <a
                class="flex items-center order-first mb-4 font-medium text-gray-900 lg:order-none lg:w-1/5 title-font lg:items-center lg:justify-center md:mb-0">
                <h1 class="text-2xl lg:text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-teal-400">
                    Vaidya
                    </h1> 
            </a>
            <div class="inline-flex items-center h-full ml-5 lg:w-2/5 lg:justify-end lg:ml-0">
                
            </div>
        </div>
    </header>
</div>
</body>
</html>